<div class="container-md">
  <br />
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">อีเมล</label>
      <input
        type="search"
        class="form-control"
        id="email"
        name="email"
        value="vanikthai@gmail.com"
        aria-describedby="emailHelp"
      />
     
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">รหัสผ่าน</label>
      <input
        type="password"
        class="form-control"
        id="password"
        value="aaa"
        name="password"
        autocomplete="off"
      />
    </div>
    <button type="submit" class="btn btn-primary">ตกลง</button>
  </form>
  <div class="mb-3">
    <a class="position-absolute end-50" href="/register">ลงทะเบียน</a>
  </div>
</div>
