<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="basicToast"
    class="toast hide"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header text-white bg-primary">
      <strong id="tosehead" class="me-auto">ร.๕ พัน.๑</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div id="tosebody" class="toast-body">
      ข้อมูลหน่วย ร.๕ พัน.๑
    </div>
  </div>
</div>
